/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}
:root {
  --main-color:rgb(0, 0, 0);
  --secondairy-color: #b1b0b070;
  --hightlight-color:White;
  
  --background-color:#ffffff;
  --background-highlight-color:#ffffff;
  --border-color: #ffffff;
  --shadow-color:#2F4F4F33;


}


@media (prefers-color-scheme:dark) {
  :root {
    /* dark theme */

  }
}








/******************************/
/* ALGEMENE CUSTOM PROPERTIES */
/******************************/


@font-face {
  font-family:"GTAmerica_B";
  src:url(../fonts/GT-America-Compressed-Bold.woff2);


  font-family: "GTAmerica_regulair";
  src:url(../fonts/GT-America-Regular.woff2);

  font-family: "GTAmerica_medium";
  src:url(../fonts/GT-America-Compressed-Medium.woff2);
}






body {
  margin:0;
  background-color:var(--background-color);
  color:var(--main-color);
  font-family:"GTAmerica_medium";  

}
















/**********/
/* Header */
/*********/




header {
  padding:.5em .75em;
  display: flex;
  justify-content: flex-start;
  padding-top: 30px;
  padding-bottom: 30px;
  align-items:center;
  position:sticky;
  top:0;
  background-color: white;
  border-bottom:solid 1px var(--background-color);
  gap: 1em;
  z-index: 1;
  
}





header a {
  color:var(--main-color);
  text-decoration:none;

}
















/*****************/
/* nav + button */
/****************/

nav{
margin-left: auto;
}

nav button{
appearance:none;
border:none;
position:relative;
z-index:100;
display: flex;
justify-content: center;
align-items: center;
width: 2em;
height: 2em;

}


nav button span{
  position: absolute;
  width: 50%;
  height: 2px;
 background-color: var(--main-color);
  transition: 0.2s;
  
}

nav button span:first-child{
transform:translateY(-.35em) ;
}



nav button span:nth-of-type(3){
  transform:translateY(.35em) ;
}


nav.toonMenu button span:first-child{
transform: rotate(-45deg);
background-color: red;
}

nav.toonMenu button span:nth-of-type(2){
  opacity: 0;
}


nav.toonMenu button span:nth-of-type(3){
  transform: rotate(45deg);
  background-color: red;
}
nav ul { 
  margin:0; 
  padding:4em 0 0;
  background:var(--background-color);
  list-style:none;
  position:fixed;
  left:0; right:0; top:4em; bottom:0;
  transform:translatex(-100%);
  transition:.5s;
  z-index:50;
}

nav.toonMenu ul {
  transform:translatex(0);

}

nav li {
  
  margin:0; padding:0;
  display: flex;
  align-items: center;

}

nav a {
  flex-grow: 1;
  gap:.25em;
  padding:.25em 1em;
  border-top:solid 0.5px black;
  font-size: 3em;
}

ul> a{
  font-size: 1.5em;
  border-top: solid 1px black;
  position: relative;
  bottom: 1em;
}


nav a.active {
  font-weight:bold;
}

header img{
width: 1.5em;
}

header a:first-child img{
  width: 10em;
}

button {
  font:inherit;
  cursor:pointer;
}










@media (min-width:64em) {



  header{
    padding-bottom: 0;
    padding-top: 0;
  }
  nav {
    justify-self:center;
    margin: auto;
  }
  
  nav button {
    display:none;
    width: 100%;
    height: auto;
  }
  
  nav ul {
    position:static;
    transform:none;
    padding:0;
    background:none;
    display:flex;
   
  }
  
  nav a {
    border:none;
   flex-grow: 1;
   font-size: 2em;
  }

  header a:last-of-type span{
    position: absolute;
    bottom: 10em;
    }

  
    .linken{
      display: flex;
      flex-direction: row;
    }
    ul> a{
     order: 1;
     margin-top: 2em;
     font-size: 2em;
    }

    h1{
   margin-top: 3em;
    }

  }









/* Mand */


header >a:last-of-type{
  width: 20px;
  margin-right: 1em;
}

header a:last-of-type span{
position: absolute;
bottom: 3em;
}



















/********************/
/* ALGEMENE STIJLEN */
/********************/




h1{
  font-size: 5em;
  text-align: center;
  position: absolute;
  top: -1em; left:0; bottom: 0; right: 0;
  color: var(--hightlight-color);
  font-family: var(--GT-America_regulair);

  
}

section:first-child{
position: relative;

}


main section:nth-of-type(1) {
  display: flex;
justify-content: center;
align-items: center;
  
}



.linken a{
  color: var(--hightlight-color);
  text-decoration: none;
  border: 1px solid var(--hightlight-color);
  padding: 0.6em 2em;
  box-sizing: border-box;
  margin: 1em;
  font-size: 1.6rem;
line-height: 2rem;
cursor: pointer;
font-style: initial;
font-family:"GTAmerica";
flex-direction: column;
display: flex;
}


.linken{
  position: absolute;
  top: 60%;
}

.linken a:hover{
background-color: var(--hightlight-color);
color: var(--main-color);
transition: 0.4s;
}













 /**********/
/* section */
/***********/

section:first-of-type img{
  width: 2000px;
  height: 100%;
  display: block;
}


video{
  width: 100%;
  height: auto;
 display: none;
}


@media (min-width:768px) {

  section:first-child img{ 
  display: none;
  }
  
  video{
    display: block;
  }
  }
  




section:nth-of-type(2) img{
 width: 300px;
 height: auto;
 margin: 0;
}


section:nth-of-type(2) img:first-child{
  height: 2px;
}



section:nth-of-type(2) ul{

  display:flex;
  overflow-x:auto;
  scroll-snap-type: x mandatory;
  gap:2em;
 
  position: relative;
  left: -1em;
  bottom: 1em;
}
section:nth-of-type(2) li{
  list-style: none;
}

section:nth-of-type(2) h2{
  position: relative;
  bottom: -250px;
  text-align: center;
  color: var(--hightlight-color);
  font-size: 2em;
  
}


section:nth-of-type(2) a{
  text-decoration: none;
  color:var(--main-color);
  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
  bottom: 5em;
  color: var(--hightlight-color);
  border: 1px solid var(--hightlight-color);
  margin-left: 3em;
  margin-right: 3em;
  border: 1px solid var(--hightlight-color);
  padding: 0.6em 2em;
  box-sizing: border-box;
  font-size: 1.2rem;
  line-height: 2rem;
  cursor: pointer;
font-family: var(--GT-America_regulair)
}





section:nth-of-type(3) div{
 flex-direction: column;
 order: 1;
 position: relative;
 padding: 1em;
}



section:nth-of-type(3) img{
padding: 30px;
width: 20em;
height: auto;

}

section:nth-of-type(3) {
  display:flex;
  overflow-x:auto;
  scroll-snap-type: x mandatory;
  gap:.5em;
  margin-left: 1em;
 
}

section:nth-of-type(3) h4{
  font-size: 2em;
  position: relative;
  bottom: 40px;
  }

  section:nth-of-type(3) p:nth-of-type(1){

position: relative;
bottom:80px; ;
  }

  section:nth-of-type(3) p:nth-of-type(2){
  
    position: relative;
    bottom:65px; ;
      }

section:nth-of-type(3)


div button{
  position: absolute;
  top: 20em;
  right: 2.5em;
  height:2em;
  padding:0 1em;
  border: 1px solid black;
  color: black;
  /* om het standaard randje bij focus niet te tonen */
  outline:none;
  /* nodig voor telefoons */
  appearance:none;
  background-color: var(--hightlight-color);
}


div button:hover{
  cursor:pointer;
  background-color:grey ;
  color: white;
}



article{
  position: relative;
  font-family: var(--GTAmerica_medium);
}

article img{
  position: sticky;
  width: 100%;
  height: 100%;
  margin-top: 2em;
}

article{
  
  font-family: var(--re);
}

article p{
  font-family:var(--GT-America_regulair);
  font-size: 1em;
  margin: 2em 1em 2em 1em;
 
}

article:nth-of-type(1) img{
  width: 100%;
  margin: 0;
  z-index: -1;
}



article h1{
  color:var(--hightlight-color);
  position: absolute;
  bottom: 3em;
}






/* fotoalbum */


#fotobladeren {
  display:flex;
  align-items: center;
  position: relative;
  transition: 1s;

}

#foto {
 width: 100%;
 height: auto;
}

ul#thumbnails {
list-style: none;
display:flex;
flex-wrap:wrap;
position: relative;
bottom: 2.5em;

}

ul#thumbnails li {
box-sizing: border-box;
width: 3em;
margin:0.2em;

}
ul#thumbnails li.huidig {
border: none;

}

ul#thumbnails  img{
width: 100%;
margin-left: 1em;
}


button#terug,  button#vooruit {
height:3em;
border-radius: 50%;
width: 3em;
background: #fff;
display: flex; 
justify-content: center;
align-items: center;
border: 1px solid #fff;
opacity: 0.7;
bottom: 3rem;
margin: auto 3em;
}

button#vooruit{
position: absolute;
top: 0;
bottom: 20%;
right: -2em;
background-image: url("../images/icon.arrow--black.svg");
background-repeat:no-repeat;
background-size:0.8em auto;
background-position:center;
transform: rotate(270deg);
}

button#terug{
  position: absolute;
  top: 0;
  bottom: 20%;
  left: -2em;
  background-image: url("../images/icon.arrow--black.svg");
background-repeat:no-repeat;
background-size:0.8em auto;
background-position:center;
transform: rotate(90deg);
}

.fotobladeren span{
  padding: 90px;
  margin: 2em;
}








/* Meer blogs  */


.datum{
  position: relative;
}

.datum img{
  width: 100%;
  height: auto;
  z-index: -1;
}

figcaption{
  position: absolute;
  top :0;  
  font-size: 12em;
}


.datum a:first-of-type{
position: absolute;
top: 20em;
display: flex;

}
.datum p:first-of-type{
  position: absolute;
 top: 15em;


  font-size: 1.5em;
 
}



section:nth-of-type(5) a img{
 width: 8em;
 height: 100%;
}



section:nth-of-type(5) a{
  display: grid;
  grid-template-columns:min-content 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap:1em;
  text-decoration: none;
  color: black;
  margin: 1em;
}

section:nth-of-type(5) img{
  grid-column-start:1;
  grid-row:span 2;
  
}

section:nth-of-type(5) h3{
  grid-column-start:2;
  grid-row: 1;
  align-self: end;
  margin: 0;
  grid-column-end:-1 ;
}

section:nth-of-type(5) p{
 grid-row-start:2; 
 grid-column-start:2; 
 margin: 0;
}

section:nth-of-type(5) time{
grid-row-start: 2;
grid-column-start: 3;

}

section:nth-of-type(5) a:last-child{
  color: green;
  display: flex; 
  justify-content: center;
  color: black;
  border: 1px solid black;
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 4em;
  padding: 0.6em 2em;
  box-sizing: border-box;
  font-size: 1.2rem;
  line-height: 2rem;
  cursor: pointer;



  /* display: flex; 
  justify-content: center;
  bottom: 5em;
  color: var(--hightlight-color);
  border: 1px solid var(--hightlight-color);
  margin-left: 3em;
  margin-right: 3em;
  border: 1px solid var(--hightlight-color);
  padding: 0.6em 2em;
  box-sizing: border-box;
  font-size: 1.2rem;
  line-height: 2rem;
  cursor: pointer;
font-family: var(--GT-America_regulair)
*/
}


section:nth-of-type(5) {
  display: ;
}







/* Form */

input {
  appearance: none;
  line-height:3em;
  border:none;
  border-bottom: solid 0.5px black;
  margin: 1em;
  appearance:none;
}

input::placeholder {
  color:var(--input-placeholder-color);
}


input[type="search"] {
color: red;
}



form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 0.5px solid black;
}

form input{
  grid-column:span 2;
}


form input:last-of-type{
  grid-column-start: -1;
  background-color: white;
  border-bottom: none;
}

form h2{
  font-size: 2em;
  grid-column: span 2;
  margin: 0;
  margin-left: 0.2em;
}

form p{
  font-size: 2em;
  grid-column: span 2;
  margin: 0;
  margin-left: 0.2em;
}
 

footer{
display: grid;
grid-template-columns:1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr;
grid-gap: 2em;
margin: 0;
}

form{
  grid-column:span 3;
}


footer li {
  list-style: none;
  font-size: 1.2em;

}


footer li a{
  color: var(--main-color);
  text-decoration: none;
}



footer ul:nth-of-type(1){
  list-style: none;
  grid-row: 2;
  grid-column: 3;
  padding: 0;
  margin: 0;
}

footer ul:nth-of-type(2){
  grid-row: 3;
  grid-column: 3;
  padding: 0;
  margin: 0;
  justify-content: center;

}

footer ul:nth-of-type(3){
  grid-row: 2;
  grid-column: 1;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (min-width:768px) {

footer{
display: grid;
grid-template-columns:1fr 1fr;
grid-template-rows:1fr 1fr 1fr;
grid-gap: 2em;
}


form{
  grid-row: span 2;
  grid-column: 1;

}
footer ul:nth-of-type(1){
  grid-row: 2;
  grid-column: 2;
  display: column;
  align-items: center;

}

footer{
  border: 1px solid black;
}
footer ul:nth-of-type(2){
  grid-row: 2;
  grid-column: 2;
  margin-left: 20em;
  display: column;
  justify-content: center;
  align-items: center;
  
}
footer ul:nth-of-type(3){
  grid-row: 1;
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;

}


form p{
  grid-row: 2;
}

form{
display: grid;
grid-template-columns:1fr 1fr 1fr 1fr;
grid-template-rows:1fr 1fr 1fr;
}

form input:nth-of-type(1){
  grid-column-end: 1;
}


form input:last-of-type{
 
}

}