/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}
:root {
  --main-color:rgb(0, 0, 0);
  --secondairy-color: #b1b0b070;
  --hightlight-color:White;
  
  --background-color:#ffffff;
  --background-highlight-color:#ffffff;

  --border-color: #ffffff;
  
  --shadow-color:#2F4F4F33;
}










/******************************/
/* ALGEMENE CUSTOM PROPERTIES */
/******************************/


@font-face {
  font-family:"var(--GT-America_B)";
  src:url(../fonts/GT-America-Compressed-Bold.woff2);

  font-family: "var(--GT-America_regulair)";
  src:url(../fonts/GT-America-Regular.woff2);

  font-family: "var(--GTAmerica_medium)";
  src:url(../fonts/GT-America-Compressed-Medium.woff2);
}

body {
  margin:0;
  background-color:var(--background-color);
  color:var(--main-color);
  font-family:"var(--GTAmerica_medium)";
  /* background-image:url("/Users/joppepronk/Desktop/Frontend Development/basiswebsite/images/Banner.jpg");  
  background-repeat: no-repeat;
  background-size:  300% auto;
  background-position: top;*/


}
















/**********/
/* Header */
/*********/




header {
  padding:.5em .75em;
  display: flex;
  justify-content: flex-start;
  padding-top: 30px;
  padding-bottom: 30px;
  align-items:center;
  position:sticky;
  top:0;
  background-color: white;
  border-bottom:solid 1px var(--background-color);
  gap: 1em;
  z-index: 1;
  
}





header a {
  color:var(--main-color);
  text-decoration:none;

}
















/*****************/
/* nav + button */
/****************/

nav{
margin-left: auto;
}

nav button{
appearance:none;
border:none;
position:relative;
z-index:100;
display: flex;
justify-content: center;
align-items: center;
width: 2em;
height: 2em;

}


nav button span{
  position: absolute;
  width: 50%;
  height: 2px;
 background-color: var(--main-color);
  transition: 0.2s;
  
}

nav button span:first-child{
transform:translateY(-.35em) ;
}



nav button span:nth-of-type(3){
  transform:translateY(.35em) ;
}


nav.toonMenu button span:first-child{
transform: rotate(-45deg);
background-color: red;
}

nav.toonMenu button span:nth-of-type(2){
  opacity: 0;
}


nav.toonMenu button span:nth-of-type(3){
  transform: rotate(45deg);
  background-color: red;
}
nav ul { 
  margin:0; 
  padding:4em 0 0;
  background:var(--background-color);
  list-style:none;
  position:fixed;
  left:0; right:0; top:0; bottom:0;
  transform:translatex(-100%);
  transition:.5s;
  z-index:50;
}

nav.toonMenu ul {
  transform:translatex(0);

}

nav li {
  
  margin:0; padding:0;
  display: flex;
  align-items: center;

}

nav a {
 
  flex-grow: 1;
  gap:.25em;
  padding:.25em 1em;
  border-top:solid 1px black;
  font-size: 2em;
}

nav a.active {
  font-weight:bold;
}

header img{
width: 1.5em;
}

header a:first-child img{
  width: 10em;
}

button {
  font:inherit;
  cursor:pointer;
}




@media (min-width:64em) {
  nav {
    justify-self:center;
   margin: auto;
  }
  
  nav button {
    display:none;
  }
  
  nav ul {
    position:static;
    transform:none;
    padding:0;
    background:none;
    display:flex;
   
  }
  
  nav a {
    border:none;
   flex-grow: 1;
  }

  header a:last-of-type span{
    position: absolute;
    bottom: 10em;
    }

    section:first-of-type img{
      display: none;
      
    }
    section:first-of-type{
      background-image: url("../images/fusion_banner_better_1500x.jpg");
    }
}









/* Mand */


header >a:last-of-type{
  width: 20px;
  margin-right: 1em;
}

header a:last-of-type span{
position: absolute;
bottom: 3em;
}



















/********************/
/* ALGEMENE STIJLEN */
/********************/




h1{
  font-size: 4em;
  text-align: center;
  position: absolute;
  top: 0; left:0; bottom: 0; right: 0;
  color: var(--hightlight-color);

  
}

section:first-child{

position: relative;

}



.linken a{
  color: var(--hightlight-color);
  text-decoration: none;
  border: 1px solid var(--hightlight-color);
  padding: 1.2em 1em;
  box-sizing: border-box;
  margin: 0.5em;
  font-size: 1.6rem;
line-height: 2rem;
cursor: pointer;
font-style: initial;
font-family: var(--GT-America_regulair);
  
  
  
}

/* .linken { 
  position: absolute;
  top: 20em; 
  left: 35%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
*/
.linken{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
left: 6em;
  flex-direction: column;
  

}

.linken a:hover{
background-color: var(--hightlight-color);
color: var(--main-color);
transition: 0.4s;
}














 /**********/
/* section */
/***********/

section:first-of-type img{
  width: 100%;
  height: 100%;
}




section:nth-of-type(2) img{
 width: 300px;
 height: auto;
 margin: 0;
}

section:nth-of-type(2){
  margin-left: 1em;
  display:flex;
  overflow-x:auto;
  scroll-snap-type: x mandatory;
  gap:.5em;
  margin-bottom: 5em;
  position: relative;
}

section:nth-of-type(2) h2{
  position: relative;
  bottom: -250px;
  text-align: center;
  
}


section:nth-of-type(2) a{
  text-decoration: none;
  color:var(--background-highlight-color);

}


/* section:nth-of-type(2) button{
  position: absolute;
  top: 0; 
  align-items: center;
}
 */




section:nth-of-type(3) div{
 flex-direction: column;
 order: 1;
 position: relative;
}



section:nth-of-type(3) img{

}

section:nth-of-type(3) img{
padding: 30px;
width: 20em;
height: auto;
background:rgba(128, 128, 128, 0.164);

}

section:nth-of-type(3) {
  display:flex;
  overflow-x:auto;
  scroll-snap-type: x mandatory;
  gap:.5em;
  margin-left: 1em;
 
}

section:nth-of-type(3) h4{
  font-size: 2em;
  position: relative;
  bottom: 40px;
  }

  section:nth-of-type(3) p:nth-of-type(1){

position: relative;
bottom:75px; ;
  }

  section:nth-of-type(3) p:nth-of-type(2){
  
    position: relative;
    bottom:65px; ;
      }

section:nth-of-type(3)


div button{
  position: absolute;
  top: 18em;
  right: 2.5em;
  height:2em;
  padding:0 1em;
  border: 1px solid black;
  color: black;
  /* om het standaard randje bij focus niet te tonen */
  outline:none;
  /* nodig voor telefoons */
  appearance:none;
  background-color: var(--hightlight-color);
}


/* text-decoration: none; 
border: 1px solid var(--hightlight-color);
padding: 1.2em 1em;
box-sizing: border-box;
margin: 0.5em;
font-size: 1.6rem;
line-height: 2rem;
cursor: pointer;
font-style: initial;
font-family: var(--GT-America_regulair);
*/

div button:hover{
  cursor:pointer;
  background-color:grey ;
  color: white;
}



article{
  position: relative;
}

article img{
  position: sticky;
  width: 100%;
  height: 100%;
  margin-top: 2em;
}

article{
  margin: 5px 10px 5px 10px;
}

article p{
  font-family:var(--GT-America_regulair);
  font-size: 1em;
 
}












/* fotoalbum */


#fotobladeren {
  display:flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  transition: 1s;

}

#foto {
 width: 100%;
 height: auto;
}

ul#thumbnails {
list-style: none;
display:flex;
flex-wrap:wrap;
position: relative;
bottom: 2.5em;

}

ul#thumbnails li {
box-sizing: border-box;
width: 3em;
margin:0.2em;

}
ul#thumbnails li.huidig {
border: none;

}

ul#thumbnails  img{
width: 100%;
margin-left: 1em;
}


button#terug,  button#vooruit {
  height: 2em;
  border-radius: 50%;
  width: 2em;
  background: #fff;
  display: flex; 
  justify-content: center;
  align-items: center;
 
border: 1px solid #fff;
opacity: 0.7;
bottom: 3rem;

margin: auto 3em;


}
button#vooruit{
  position: absolute;
  top: 0;
  bottom: 20%;
  right: -2em;
}
button#terug{
  position: absolute;
  top: 0;
  bottom: 20%;
  left: -2em;
}

.fotobladeren span{
  padding: 30px;
}








/* Meer blogs  */


section:nth-of-type(5){
  position: relative;
}

section:nth-of-type(5) >img{
  width: 100%;
  height: auto;
  z-index: -1;
}

section:nth-of-type(5) figcaption{
  position: absolute;
  top :0;  
  font-size: 12em;
}


section:nth-of-type(5) a:first-of-type{
position: absolute;
top :10px; 
margin-bottom: 10px;
}


section:nth-of-type(5) a img{
 width: 8em;
 height: 100%;
}



section:nth-of-type(5) a{
  display: grid;
  grid-template-columns:min-content 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap:1em;
  text-decoration: none;
  color: black;
  margin: 1em;

}

section:nth-of-type(5) img{
  grid-column-start:1;
  grid-row:span 2;
  
}

section:nth-of-type(5) h3{
  grid-column-start:2;
  grid-row: 1;
  align-self: end;
  margin: 0;
  grid-column-end:-1 ;
}

section:nth-of-type(5) p{
 grid-row-start:2; 
 grid-column-start:2; 
 margin: 0;
}

section:nth-of-type(5) time{
grid-row-start: 2;
grid-column-start: 3;

}












/* Form */

input {
  appearance: none;
  line-height:3em;
  padding:0 1em;
  border:none;
 border-bottom: solid 2px black;
 margin: 1em;
  appearance:none;
}

input::placeholder {
  color:var(--input-placeholder-color);
}
input:last-of-type{
  position: relative;
  background: none;
  border-bottom:none;
  
}

input[type="search"] {
color: red;
}



form{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

form input{
  grid-column:span 2;
}


form input:last-of-type{
  grid-column-start: -1;
}

footer h2{
  font-size: 4em;
  margin-left: 0.2em;
}

footer p{
  font-size: 2em;
  margin-left: 0.2em;
}