/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}
:root {
  --main-color:rgb(0, 0, 0);
  --secondairy-color: #8f8f8f;
  --hightlight-color:White;
  
  --background-color:#ffffff;
  --background-highlight-color:#ffffff;

  --border-color: #ffffff;
  
  --shadow-color:#2F4F4F33;
}
/* fonts*/ 

@font-face {
  font-family:"var(--GT-America_B)";
  src:url(../fonts/GT-America-Compressed-Bold.woff2);

  font-family: "var(--GT-America_regulair)";
  src:url(../fonts/GT-America-Regular.woff2);

  font-family: "var(--GTAmerica_medium)";
  src:url(../fonts/GT-America-Compressed-Medium.woff2);
}

body {
  margin:0;
  background-color:var(--background-color);
  color:var(--main-color);
  font-family:"var(--GTAmerica_medium)";
}

button {
  font:inherit;
  cursor:pointer;
}

header {
  padding:.5em .75em;
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 30px;
  align-items:center;
  position:sticky;
  top:0;
  background-color: white;
  border-bottom:solid 1px var(--background-color);
}

header a {
  color:var(--main-color);
  text-decoration:none;
  color: white;
}

nav button{
appearance:none;
border:none;
position:relative;
z-index:100;
}

nav button::before {
  content:"\2630 "; /* hamburger */
  display:inline-flex;
  justify-content:center;
  align-items:center;
  width:2em;
  height:2em;
  transform:scale(2);
}

nav.toonMenu  button::before {
  content:"\274C"; /* rood kruisje */
}

nav ul { 
  margin:0; 
  padding:4em 0 0;
  background:var(--background-color);
  list-style:none;
  position:fixed;
  left:0; right:0; top:0; bottom:0;
  transform:translatex(-100%);
  transition:.5s;
  z-index:50;
}

nav.toonMenu ul {
  transform:translatex(0);
}

nav li {
  margin:0; padding:0;
}

nav a {
  display:flex;
  align-items:center;
  gap:.25em;
  padding:.25em 1em;
  border-top:solid 1px black;
}

nav a.active {
  font-weight:bold;
}

header img{
width: 1.5em;
}

header a:first-child img{
  width: 10em;
}



@media (min-width:64em) {
  nav {
    justify-self:center;
    order:0;
  }
  
  nav button {
    display:none;
  }
  
  nav ul {
    position:static;
    transform:none;
    
    padding:0;
    background:none;
    display:flex;
  }
  
  nav a {
    border:none;
  }
}


h1{
  font-size: 2em;
  text-align: center;
  color: var(--border-color);
  position: absolute;
  bottom: 400px;
  margin: 0 1em 0 1em;
}

main >img{
  bottom: 200px;
}
/* main a{
  text-decoration: none;
  color: var(--main-color);
  display: flex;
  margin-bottom: 1em;
  border: solid;
  padding: 2px;
  padding-left:50px;
  width: 10em;
  color: var(--hightlight-color);
}
 */

 
section img:first-of-type{
 width: 300px;
 height: auto;
}

section:nth-of-type(1){
  margin-left: 1em;
  display:flex;
  overflow-x:auto;
  gap:.5em;
  margin-bottom: 10em;
}

section:nth-of-type(1) h2{
  position: relative;
  bottom: -250px;
  text-align: center;
  
}


section:nth-of-type(1) a{
  text-decoration: none;
  color:var(--background-highlight-color);

}

section:nth-of-type(2) {
  display:flex;
  overflow-x:auto;
  gap:.5em;
}

section:nth-of-type(2) img{
position: relative;
  background-color:var(--secondairy-color) ;
  padding: 40px;
}

section p h4{
color: yellowgreen;

}

main >img{
  width: 100%;
  height: 100%;
}

article{
  position: relative;
}

article img{
  position: sticky;
  width: 100%;
  height: 100%;
  margin-top: 2em;
}

article{
  margin: 5px 10px 5px 10px;
}

article p{
  font-family:var(--GT-America_regulair);
  font-size: 1em;
 
}

